<!doctype html>
<html>
<head>
	{{> head}}
	<script src="js/index_scripts.js"></script>
</head>
<body>
	<div class="background"></div>
<div id="main" class="main">
	<div class="navbar_cust" id="navbar_top"> <div class="row">
		<div class="pull-left">
			<a href="create_mission"><img src="../images/nav_newmission.png" class="nav_img"><a>
		</div>
		<div class="pull-right btn-group">
				<a href="#" id="menu_stats" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="../images/nav_profile.png" class="nav_img">
				</a>
			<ul class="dropdown-menu">
				<li>[[Food Count Here]]</li>
   				<li>[[Wood Count Here]]</li>
   				<li>[[Stone Count Here]]</li>
   				<li>[[Village Level Here]]</li>
   				<li role="separator" class="divider"></li>
   				<li><a href="/login#sign-in">Log Out</a></li>
			</ul>	
		</div>
		</div>
	</div>
	<!-- main navigation bar fixed @ bottom -->
	<div class="navbar_cust" id="navbar_bottom">
		<div class="container-fluid">
			<ul class="list-inline text-center" id="main-nav">
				<li>
					<a href="#" id="menu_log"><img src="../images/nav_log.png" class="nav_img"></a></li>
				<li>
					<a href="#" id="menu_history"><img src="../images/nav_history.png" class="nav_img"></a></li>
				<!-- CONFIRM: separate help section for the log screen; village screen will have its own 'help' section? -->
				<li>
					<a href="#" id="menu_help"><img src="../images/nav_help.png" class="nav_img"></a></li>
				<li>
					<a href="#" id="menu_village"><img src="../images/nav_village.png" class="nav_img"></a></li>
			</ul>
		</div>
	</div>	

<div id="main" class="container text-center">
	
	<div class="main-content">
		<!-- The mission log portion of the app -->
		<div id="missions" class="row ">
			<div id="missions-list-wrapper">
				<ul id="missions-list" class="list-unstyled">
				</ul>
			</div>
		</div>

		<!-- The history portion of the app -->
		<div id="history">
			<nav>
				<a class="btn" id="history-completed-button">Completed</a>
				<a class="btn" id="history-failed-button">Failed</a>
			</nav>
			<ul id="completed-missions-list" class="list-unstyled">
			</ul>
			<ul id="failed-missions-list" class="list-unstyled">
			</ul>
		</div>

		<!-- The help portion of the app -->
		<div id="help">
			<h3> General Mechanics </h4>
			<p>In order to improve the village the runners live in, you must send out runners to retrieve necessary resources for village upgrades. Unfortunately, each time they leave the warm glow of the campfire, they risk discovery (and digestion) by the deadlions. Whether they live or not is up to whether or not <em>you</em> finish the task corresponding to them.
			</p>
			<h4>'Mission' Screen</h4>
			<p>
				This is a current list of all runners out in the field, and the task you must complete in order for them to escape the deadlion and bring back valuable resources to their village.

				A deadlined mission is marked complete when you hit the 'Complete' button after finishing all the subtasks to particular to that specific mission, while a recurring mission can only be marked complete at the end of the current month.
			</p>
			<h4> 'History' Screen </h4>
			<p>
				Here is all your previous missions - whether they ended with the happy return of a runner into the camp, or the horrified last gasps of a living, sentient person being torn apart by the jaws of an undead feline.
			</p>
		</div>

		<!-- The village section of the app -->
		<div id="village">
			<h1>My Village</h1>
			<p>People you have saved will appear here</p>
			<div id="village_display" class="container-fluid">
				<!--<img id="village" src="/images/basic_overworld.png"/>-->
				<div id="gradient0">&nbsp;</div>
				<div id="gradient1">&nbsp;</div>
				<div id="gradient2">&nbsp;</div>
				<div id="campfire"><img src="/images/village_stage01.gif"/></div>
				<!--
				<div><img src="{{image_link}}"></div>

				<div>
					<label>Wood: {{wood_count}}/{{wood_total}}</label>
					<label>Stone: {{stone_count}}/{{stone_total}}</label>
					<label>Food: {{food_count}}/{{food_total}}</label>
				</div>
	-->
			</div>
		</div>
	</div>

</div>
  <script id="mission_item_template" type="text/x-handlebars-template">
	  {{> mission_item}}
  </script>
 
 </body>
</html>