<!doctype html>

<html>
<head>
	<title>Creeping Deadlions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">

	<!-- jQuery (necessary for Bootstrap's Javascript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- More Javascript plugins (Bootstrap and personal scripts) -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>

	<!-- Imported Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<!-- Personal stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        

</head> 

<body>
<div id="main" class="container-fluid">
	<!-- Maybe add 'navbar-fixed-top' to have constant navbar presence in app? -->
	<nav class="navbar navbar-fixed-top navbar-default" id="main-nav">
		<div class="container-fluid">
			<!- - Brand & toggle grouped for better mobile display - ->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Maybe replace text brand with an undead lion icon in the future -->
				<a class="navbar-brand" href="#"><span id="title">C.D.</span></a>
			</div>

			<!-- Nav links & buttons for toggling -->
			<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" id="menu_log">Log</a></li>
				<li>
					<a href="#" id="menu_history">History</a></li>
				<!-- CONFIRM: separate help section for the log screen; village screen will have its own 'help' section? -->
				<li>
					<a href="#" id="menu_help">Help</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a id="transition_btn" href="village"><span class="glyphicon glyphicon-home"></span>  Village</a></li>
			</ul>
			</div>
		</div>
	</nav>	

<!-- The mission log portion of the app -->
	<div id="missions" class="row">
		<div id="missions-list-wrapper">
			<ul id="missions-list" class="list-unstyled">
				{{#each missions}}
				<li class="mission_box container" data="{{this}}">
					<div class="runner-progress">
						<img src="/images/lion-run-test.gif" class="gif" />
						<span class="distance">{{#each subtasks}}&nbsp;&nbsp;{{/each}}</span>
						<img src="/images/run-test.gif" class="gif" />
					</div>
					<h4 class="pull-right">
						{{#if duedate}}
							Due on: {{duedate}}
						{{else}}
							Repeat until: {{untildate}}
						{{/if}}
					</h4>
					<h3>Mission: {{name}}</h3>
					<ul class="list-unstyled subtasks-list">
						{{#each subtasks}}
							<h4><input id="{{this}}" type="checkbox" /> <label for="{{this}}">{{this}}</label></h4>
						{{/each}}
					</ul>
					<a class="btn btn-default pull-right cancel_mission">Cancel</a>
					<a class="btn btn-primary pull-right">Complete!</a>
				</li>
				{{else}}
					<h3><em>No current missions!</em></h3>
				{{/each}}
			</ul>

			<!-- Columns adjust based on size -->
			<div class="col-xs-1 visible-xs-block text-center new_msn_btn"><a href="new_mission">+</a></div>
			<div class="col-md-1 hidden-xs hidden-sm text-center new_msn_btn"><a href="new_mission">+  New Mission<a></div>
		</div>
	</div>

	<!-- The history portion of the app -->
	<div id="history">
		PAST MISSIONS GO HERE
	</div>

	<!-- The help portion of the app -->
	<div id="help">
		HELP INFORMATION GOES HERE
	</div>
</div>
</body>
</html>