<!doctype html>

<html>
<head>
	<title>Creeping DeadLions</title>	 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/helpers.js"></script>
	<script src="js/village_scripts.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	 <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
<div id="main" class="container-fluid">
	<!-- Maybe add 'navbar-fixed-top' to have constant navbar presence in app? -->
	<nav class="navbar navbar-fixed-top navbar-default" id="main-nav">
		<div class="container-fluid">
			<!-- Brand & toggle grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Maybe replace text brand with an undead lion icon in the future -->
				<a class="navbar-brand" href="#"><span id="title">C.D.</span></a>
			</div>

			<!-- Nav links & buttons for toggling -->
			<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" id="menu_village">Village</a></li>
				<li>
					<a href="#" id="menu_population">Statistics</a></li>
				<!-- CONFIRM: separate help section for the log screen; village screen will have its own 'help' section? -->
				<li>
					<a href="#" id="menu_help">Help</a></li>
				<li><a href="/login#sign-in">Log Out</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a id="transition_btn" href="/"><span class="glyphicon glyphicon-pencil"></span>  Missions</a></li>
			</ul>
			</div>
		</div>
	</nav>	

	<div id="village">
		<h1>My Village</h1>
		<p>People you have saved will appear here</p>
		<div id="village_display" class="container-fluid">
			<!--<img id="village" src="/images/basic_overworld.png"/>-->
			<div id="gradient0">&nbsp;</div>
			<div id="gradient1">&nbsp;</div>
			<div id="gradient2">&nbsp;</div>
			<div id="campfire"><img src="{{image_link}}"/></div>
			<!--
			<div><img src="{{image_link}}"></div>

			<div>
				<label>Wood: {{wood_count}}/{{wood_total}}</label>
				<label>Stone: {{stone_count}}/{{stone_total}}</label>
				<label>Food: {{food_count}}/{{food_total}}</label>
			</div>
-->
		</div>
	</div>

	<div id="population">
		<h1 class="text-center">Village Statistics</h1>
		<h4>Current Population: 3</h4>

		<div class="col-md-2 col-xs-4 pull-right">
			<h4>Resources:&nbsp;</h4>
				<label>Wood: {{wood_count}}/{{wood_total}}</label><br>
				<label>Stone: {{stone_count}}/{{stone_total}}</label><br>
				<label>Food: {{food_count}}/{{food_total}}</label><br>
				<span>You do not have the necessary resources to 
					advance your village from a <span class="highlight-text">{{village_stage}}</span> to a <span class="highlight-text">{{village_nextstage}}</span>.
				</span>
		</div>


	</div>

	<div id="help">
		<h3> General Mechanics </h4>
		<p>In order to improve the village the runners live in, you must send out runners to retrieve necessary resources for village upgrades. <br> 
			Village upgrades range from the construction of new buildings to upgrading the village from one stage to another. Each upgrade costs resources. <br>
			Resources include: wood, fire, and food. 
		</p>
		<h4> 'Village' Screen</h4>
		<p>
			This screen is a visual representation fo the civilization your runners have built. If you have any buildings that can be upgraded, the option can be selected here. 
		</p>
		<h4> 'Statistics' Screen </h4>
		<p>
			This screen tells you about how large your settlement population is, along with the rest of the resources you have. If you have met the conditions required to advance from one stage of civilization to the next, the option can be selected here.
		</p>
	</div>
</div>
</body>
</html>


